.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
ENV/
.build/
.eggs/
*.egg-info/
.pytest_cache/
coverage.xml
htmlcov/
dist/
build/
.git
.gitignore
.DS_Store
*.swp
.vscode/
.idea/
.env
*.log
tests/
